<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Country Capital Quiz </title>
  <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
  <div class="container">

    <% if (locals.rightAnswer === true) { %>

    <form action="/submit" method="post">
      <div class="score-reading">
        <h3>Total Score: <span> <%= totalScore %></span></h3>
      </div>
      <div class="country-name">
        <h1><%= countryName.country %>   <%= flag %></h1>
      </div>
      <div class="answer-box">
        <input type="text" name="answer" placeholder="Enter the capital" autofocus autocomplete="off">
      </div>
      <div class="submit-button">
        <button type="submit">SUBMIT</button>
      </div>
    </form>

    <% } else { %>

    <form action="/restart" method="post">
      <h3>Game over!</h3>
      <h3><%= countryName.capital %> is the capital of <%=countryName.country %>. </h3>
      <div class="final-score">
        <h1>Your Score is <%= totalScore %></h1>
      </div>
      <div class="restart-button">
        <button type="submit">RESTART QUIZ</button>
      </div>
    </form>

    <% } %>

  </div>
</body>

</html>